<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getName()}+', '+${book.getAuthorName()}+', '+${book.getYear()}"></p>
<div th:if="${people}">
    <p th:text="'Эта книга сейчас свободна. Кому назначить её?'"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getId()})}">
        <label for="person">Выберите человека </label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="prs:${people}" th:value="${prs.getId()}" th:text="${prs.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>
<div th:if="${owner}">
    <p th:text="'Книга сейчас у: '+${owner.getName()}"></p>
    <form th:method="GET" th:action="@{/books/{id}/free(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>
<hr>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="update">
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>